* {
  font-family: JetBrainsMono Nerd Font Mono;
  color: rgba(225, 225, 225, 1.0);
  font-size: 10px;
  min-height: 0;
  background: none;
  border-radius: 0;
}

tooltip {
  background: rgba(198, 174, 147, 0.2);
  border: 1px solid rgba(198, 174, 147, 1);
}

#workspaces {
  margin: 8px;
  background: rgba(198, 174, 147, 0.1);
  border: 1px solid rgba(198, 174, 147, 1);
}

#workspaces button {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0 6px;
  opacity: 0.6;
}

#workspaces button:hover {
  opacity: 1;
}

#workspaces button.active {
  opacity: 1;
}

.modules-right {
  margin: 8px;
  padding: 0 10px;
  background: rgba(198, 174, 147, 0.1);
  border: 1px solid rgba(198, 174, 147, 1);
}

.modules-center {
  margin: 8px;
  padding: 0 10px;
  background: rgba(61, 61, 61, 0.1);
  border: 1px solid rgba(61, 61, 61, 1);
}

#clock {
  margin-left: 24px;
}

#battery {
  margin-left: 24px;
}

#network {
  font-size: 16px;
  margin-left: 24px;
}

#network.disconnected,
#network.disabled {
  opacity: 0.6;
}

/*#memory{*/
/*  padding-left: 24px;*/
/*}*/
