configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
  show-icons: true;
}

@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"

* {
    font: "JetBrainsMono Nerd Font Mono 10";
    background-color: rgba(50, 48, 47, 0.0);     /* semi-transparent base */
}

window {
    background-color: rgba(50, 48, 47, 0.5);       /* ensure window container is semi-transparent */
    border-radius: 5px;
    border: 1px solid;
    padding: 4px;
}

element {
    border-radius: 5px;
    padding: 4px;
    margin: 4px 0;
}

element-icon {
    padding: 0 4px;
}

listview {
    lines: 10;
    scrollbar: false;
    border: 0;
    background-color: rgba(50, 48, 47, 0.0);       /* optionally fully transparent background for listview */
}

element normal.normal,
element normal.active,
element alternate.normal {
    background-color: rgba(50, 48, 47, 0.0);       /* match the transparency of rows */
}

element normal.active {
    color: #F9EEC5;
}


